# --- Dependencias (No se suben porque son muy pesadas) ---
backend/node_modules/
frontend/node_modules/

# --- Configuración y Secretos (Seguridad: NUNCA subas estos) ---
backend/.env
backend/.env.local
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# --- Compilación (Archivos generados automáticamente) ---
frontend/dist/
frontend/build/
frontend/out/

# --- Logs y archivos temporales ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# --- Archivos del Sistema / Editores ---
.vscode/
.idea/
.DS_Store
Thumbs.db